@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

body {
    font-size: 1.2em;
    background-color: #111;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
}
* {
    font-family: quicksand, helvetica neue, helvetica, arial, sans-serif;
}
code, pre {
    padding: .4em;
    border-radius: .4em;
    background-color: #8882;
    width: 100%;
    resize: vertical;
}
textarea, code, pre {
    font: .7em courier new, courier, monospace;
}
html-cache {
    display: none;
}
button, input[type=button], input[type=submit] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: auto;
    margin: 2px 0;
    padding: 0;
    color: #fff;
    border: 0;
    width: max-content;
    background-color: #9600fc;
    font-size: 1em;
    font-weight: 600;
}
button:disabled, input[type=button]:disabled, input[type=submit]:disabled {
    filter: opacity(.5);
    cursor: not-allowed;
}
input[type=range] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
textarea, input[type=text], input[type=url], input[type=number] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: .5em;
    border: none;
    margin: 4px;
    outline: 1px solid #000;
    transition: outline .2s cubic-bezier(0.19, 1, 0.22, 1);
    width: 100%;
    max-width: 360px;
}
textarea:focus, input[type=text]:focus, input[type=url]:focus, input[type=number]:focus {
    outline-color: #26f;
}
input[type=number] {
    max-width: 60px;
}
input[type=range]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 8px;
    border-radius: 8px;
    background-color: #9b9b9b;
    /*border: 1px solid #545454;*/
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 22px;
    height: 22px;
    position: relative;
    top: 50%;
    translate: 0 -50%;
    border-radius: 50%;
    background: #9600fc;
    /*border: 1px solid #6400a7;*/
}
button * {
    width: 100%;
    height: 100%;
    display: flex;
}
button *, input[type=button], input[type=submit] {
    padding: .3em 1.5em;
}
#output, #output div {
    display: grid;
    overflow-x: auto;
}
input[type=file] {
    width: 1px;
    position: absolute;
    pointer-events: none;
    filter: opacity(0);
    margin-left: 20px;
    margin-top: 1.6em;
}
#test {
    width: 100%;
    display: flex;
}
#test div {
    margin: 0 1px;
    flex-grow: 1;
    display: inline-block;
}
#test img {
    width: 100%;
}
#window-main {
    box-sizing: border-box;
    border-radius: .75em;
    background-color: #fff;
    width: min(90%, 1080px);
    padding: 20px;
    min-height: 90vh;
}
#main-h1 {
    margin-top: 0;
    margin-bottom: .35em;
}
#upload-form {
    display: grid;
}
#upload-form div {
    margin: 12px 0;
    min-height: 1.75em;
}
.attr {
    font-weight: 900;
    font-size: .5em;
}
.alert-dial-bkg {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: #0008;
    z-index: 92384293482384942849389428984;
}
.alert-dial {
    width: clamp(min(100%, 480px), 90%, 720px);
    height: clamp(min(100%, 360px), 80%, 480px);
    background-color: #fff;
    border-radius: 5px;
    overflow: auto;
}
.alert-dial-close {
    float: right;
    padding: 3px 9px;
    background-color: #f44;
    color: #fff;
    cursor: pointer;
    user-select: none;
}
h1, h2, h3, h4, h5, h6 {
    text-align: center;
}
h1::after, h2::after, h3::after, h4::after, h5::after, h6::after {
    content: '';
    display: block;
    margin-top: .3em;
    border-bottom: 1px solid #8888;
}
@media screen and (max-width:480px), print {
    body {
        margin: 0;
        display: block;
    }
    #window-main {
        border-radius: 0;
        width: 100%;
        min-height: 100vh;
    }
}
